<!DOCTYPE html>
<html>
<body>

<h2>Welcome! This is a sample NodeJS client calling a Rest API</h2>

<a href="/renderdata"> Get all data from variable</a> 
<p></p>
<a href="/request_ex"> Get all data from external REST API</a> 
<p></p>
<a href="/request_in"> Get all data from internal REST API</a> 
<p></p>
<a href="/insertdata"> Insert data</a> 

<p>Give it a try!</p>

</body>
</html>
