<!DOCTYPE html>
<html>
<body>

<h2>Existing Data</h2>

<a href="/">Back to Main Page</a> 
<ul>
    <% mascots.forEach(function(mascot) { %>
      <li>
        <strong><%= mascot.name %></strong>
        representing <%= mascot.organization %>,
        born <%= mascot.birth_year %>
      </li>
    <% }); %>
  </ul>

<p>Give it a try!</p>

</body>
</html>