<!DOCTYPE html>
<html>
<body>

<h2>Existing Data from Internal API</h2>

<a href="/">Back to Main Page</a> 
<ul>
    <% mascots.forEach(function(mascot) { %>
      <li>
        <strong><%= mascot.id %></strong>
        name <%= mascot.name %>,
        address <%= mascot.address %>
      </li>
    <% }); %>
  </ul>
</body>
</html>